body {
    background: url("./assets/Backroung.jpg") no-repeat center center fixed;
    background-size: cover;
}

@keyframes run {
    0% {transform: translateX(-130px);}
    100% {transform: translateX(130px);}
}

.loadingPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: centerSS;

    img {
        height: 150px;
        animation: run 4s linear;
    }
    
    p {
        color: white;
    }
}